@import "../../../scss/base/reset";
@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.carousel-container {
    max-width: 100%; /* Taille maximale du carrousel */
    height: 90vh; /* Hauteur fixe du carrousel */
    overflow: hidden; /* Cache ce qui dépasse */
    margin: auto; /* Centre le carrousel */
  }
  
  .carousel-slide {
    position: relative; /* Permet le positionnement absolu des enfants */
    height: 80vh; /* Hauteur fixe pour chaque diapositive */
  }
  
  .carousel-image {
    width: 100%; /* Image prend toute la largeur */
    height: 100%; /* Image prend toute la hauteur */
    object-fit: cover; /* Remplit le cadre sans déformation */
  }
  
  .button-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .slide-button {
    @include button;
  }
  
  .slide-button:hover {
    @include button-hover;
  }

  // .slick-dots li button {
  //   font-size: 16px; /* Augmentation de la taille de la police */
  // }
  
  .slick-dots li button:before {
    content: "•"; /* Utilisation d'un point comme indicateur */
    font-size: 20px; /* Taille du point indicateur */
    color: $caramel; /* Couleur du point */
  }
  
  .slick-dots li.slick-active button:before {
    color: $medium-vermillon; /* Couleur du point actif */
  }
  