@import "../../../scss/base/reset";
@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.carousel-container {
    max-width: 100%; /* Taille maximale du carrousel */
    height: 80vh; /* Hauteur fixe du carrousel */
    overflow: hidden; /* Cache ce qui dépasse */
    margin: auto; /* Centre le carrousel */
  }
  
  .carousel-slide {
    position: relative; /* Permet le positionnement absolu des enfants */
    height: 70vh; /* Hauteur fixe pour chaque diapositive */
  }
  
  .carousel-image {
    width: 100%; /* Image prend toute la largeur */
    height: 100%; /* Image prend toute la hauteur */
    object-fit: cover; /* Remplit le cadre sans déformation */
    object-position: 50% 25%;
  }
  
  .slick-dots li button:before {
    content: "•"; /* Utilisation d'un point comme indicateur */
    font-size: 20px; /* Taille du point indicateur */
    color: $caramel; /* Couleur du point */
  }
  
  .slick-dots li.slick-active button:before {
    color: $medium-vermillon; /* Couleur du point actif */
  }

//   .button-container {
//     position: absolute;
//     bottom: 50px;
//     left: 50%;
//     transform: translateX(-50%);
//     display: flex;
//     gap: 10px; /* Espace entre les boutons */
//   }
  
//   .slide-button {
//     @include button;
//   }
  
//   .slide-button:hover {
//     @include button-hover;
//   }

//   /* Media query pour changer la disposition des boutons à partir d'une certaine taille */
// @media (max-width: 768px) {
//   .button-container {
//       flex-direction: column; /* Les boutons sont affichés en colonne */
//       gap: 5px; /* Réduire l'espace entre les boutons */
//   }

//   .slide-button {
//       width: 100%; /* Les boutons prennent toute la largeur disponible */
//   }
// }