
// .detailsManga{
//     background-color: #3c5891;
//     color: black;
// }

.detailsManga a{
    text-decoration: none;
    color: black;
}

.detailsButton {
  display: flex;
  justify-content: center;
  
}

.detailsButton a {
    margin-right: 10px; 
    margin-top: 20px;
    padding: 8px 12px; 
    border: 1px solid #dd5d42; 
    border-radius: 5px; 
    color: #fff;
    background-color: #dd5d42; 
}

.detailsButton a:hover {
  background-color: #334768;
  color: #FFD38C;
  border: 1px solid #334768; 
}

h4{
    text-align: center;
    margin-bottom: 20px;
}

.reviewsBloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; /* Ajustez cela selon vos besoins */
    gap: 150px;
}

.editButton {
  display: block;
  margin-top: 10px; 
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.reviewContent {
    width: 100%; /* Ajustez la largeur des commentaires */
    margin-top: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border:1px solid #dd5d42;
    padding: 20px;
    background-color: #fff  
}

.reviewFormSection {
    width: 48%; /* Ajustez la largeur du formulaire */
    margin-bottom: 20px;
}

.reviewFormSection input:hover{
  background-color: #334768;
  color: #FFD38C;
}

.reviewFormSection textarea:hover{
  background-color: #334768;
  color: #FFD38C;
}

form { 
    max-width:420px 
}

.feedback-input {
  color:black;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:1px solid #dd5d42;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  background-color: #fff
}

.feedback-input:focus { 
    border:2px solid #dd5d42; 
}


textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
    width: 100%;
    background:#dd5d42;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    // margin-top:-4px;
    font-weight:700;
    max-width: none; /* Réinitialisez la largeur maximale */
    margin: 0 auto; /* Ajoutez cette ligne pour centrer le formulaire à l'intérieur de son conteneur */
}

[type="submit"]:hover { 
    background:#334768; 
    color: #FFD38C;
}

@media screen and (max-width: 768px) {
    .imgRandomBloc {
      height: 30vh;
      width: 20vh;
    }
  
    .mangaImg {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  
    .centeredContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .centeredContainer h2 {
      text-align: center;
    }
  
    .mangasContainer {
      width: 80%;
    }
  
    .mangasList {
      flex-direction: column;
    }
  
    .recommendationArticle {
      flex-direction: column;
    }
  
    .textContainer {
      padding-left: 0; /* Ajustement pour l'espace sur les côtés */
    }
  
    .reviewsBloc {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
    .reviewContent {
      width: 100%; /* Ajustez la largeur des commentaires */
    }
  
    .reviewFormSection {
        width: 80%; /* Ajustez la largeur du formulaire */
        margin: 0 auto; /* Centre le formulaire horizontalement */
      }
  
      form {
        max-width: 100%; /* Utilise la largeur totale du parent */
      }
      
      .feedback-input {
        max-width: 100%; /* Utilise la largeur totale du parent */
        font-size: 16px; /* Réduisez la taille de la police du formulaire */
      }
    
      textarea {
        height: 100px; /* Réduisez la hauteur du textarea */
      }
    
      [type="submit"] {
        font-size: 20px; /* Réduisez la taille de la police du bouton */
      }
  }
  