@import "../../../scss/base/reset";
@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";
@import "../../../scss/pages/mangaPage";
@import "../../../scss/components/form";


.commentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh 0 3vh 0;
}

.commentSection{
    background-color: $light-netflix-black;
    padding: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 60%;
    font-size: $font-size-form;
    padding-bottom: 10vh;
}

.userName{
    font-weight: bold;
}
