@import "../../../scss/base/reset";
@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.listBloc {
    height: 45vh;
    width: 30vh;
    border: solid $medium-vermillon 1px;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0; /* Empêche l'image de réduire sa taille si le conteneur est trop petit */
    margin-bottom: 20px;
    margin: auto;
    transition: transform 0.3s ease; /* Transition pour le zoom de l'image */
}

.listImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; /* Transition pour le zoom de l'image */
}

.centeredContainer {
    display: flex;
    justify-content: center;
}

.centeredContainer h2 {
    @include h2;
}

.mangasContainer {
    width: 100%; /* Utilise toute la largeur de la page */
    border-radius: 3px;
}

.mangasList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Répartit équitablement les mangas sur toute la largeur */
    gap: 20px; /* Espace entre les mangas */
    padding: 1em;
    text-align: center;
    margin: 0 2vw 0 2vw;
}

.break{
    word-break: break-all;
    width: 30vh;

}
.mangasList h3 {
    margin-top: 1em;
    position: relative; /* Nécessaire pour le positionnement du pseudo-élément */
    display: inline-block; /* Assure que l'élément occupe seulement la largeur de son contenu */
}

.mangasList h3::after {
    @include hoverUnderline
}

.mangasList article:hover .listImg {
    transform: scale(1.05); /* Zoom de l'image au survol */
}

.mangasList article:hover h3::after {
    transform: scaleX(1); /* Animation du soulignement de gauche à droite */
}
