@import "../../../scss/base/reset";
@import "../../../scss/base/typography";
  
.header-container {
  margin-left: 5vw;
  margin-right: 5vw;
}

.ulNav {
  background-color: #141414;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.liLogo {
  margin-right: auto;
  height: 15vh;
  width: 15vh;
}
  
.logo {
  height: 100%;
  width: 100%;
}
  
.liNav {
  margin-right: 3%;
  color: #FFD38C;
}

.liNav a {
  text-decoration: none;
  color: #FFD38C;
}


.liContact{
  margin-right: auto;
}

.hover-link {
  position: relative; // permet l'utilisation de ::after
}

.hover-link::after {
  content: '';
  position: absolute; // pour que l'animation se déroule sous le texte
  bottom: -2px; // ajuste la position de l'underline
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  background: #FFD38C;
  transition: width .3s;
}

.hover-link:hover::after {
  width: 100%;
}
