.header{
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    
    top: 0; left: 0; right: 0;
}

@font-face {
    font-family: "Montserrat";
    src: "/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf" format("truetype");
}

body{
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
}

.ulNav {
    background-color: #334768;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.liLogo {
    margin-right: auto;
    height: 15vh;
    width: 15vh;
}

.logo {
    height: 100%;
    width: 100%;
}

.liNav {
    margin-right: 3%;
}

.liNav a{
    text-decoration: none;
    color: #FFD38C;
}

.hover-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FFD38C;
    transition: width .3s;
    margin-top: 10px;
}

.hover-link:hover::after {
    width: 100%;
    transition: width .3s;
}