* {
    margin: 0;
    padding: 0;
    border: 0;
}

main{
    background-color: #141414;
    color: #ffd18b;
}

main a{
    text-decoration: none;
    color: #ffd18b;
}

.homeH2{
    background-color: #dd5d42;
    padding-top: 5vh; 
    padding-bottom: 5vh; 
    text-align: center;
    font-size: 30px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* Contrôle de la position des carrés */
.square-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; /* Prendre toute la hauteur du conteneur */
    width: 30%; /* Largeur du carré */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffd18b;
    display: flex;
    flex-direction: column; /* Assure un alignement vertical */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
  }
  
  .square-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffd18b;
    display: flex;
    flex-direction: column; /* Assure un alignement vertical */
    justify-content: center;
    align-items: center;
  }
  
  /* Contrôle de l'image */
  .imgBloc {
    position: relative; /* Permet le positionnement absolu des éléments internes */
    height: 20vh; /* Hauteur du conteneur */
    width: 100%; /* Largeur complète */
  }
  
  .mangaImg {
    height: 100%; /* L'image prend toute la hauteur du conteneur */
    width: 100%; /* L'image prend toute la largeur */
    object-fit: cover; /* Pour s'assurer que l'image couvre tout le conteneur */
  }
  
  .starRating {
    font-size: 24px; /* Ajustez la taille des étoiles selon vos besoins */
    color: gold; /* Couleur des étoiles */
    display: flex; /* Aligner les étoiles horizontalement */
  }
  
  