* {
    margin: 0;
    padding: 0;
    border: 0;
}

main{
    background-color: #141414;
    color: #ffd18b;
}

main a{
    text-decoration: none;
    color: #ffd18b;
}

.homeH2{
    background-color: #dd5d42;
    padding-top: 5vh; 
    padding-bottom: 5vh; 
    text-align: center;
    font-size: 30px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* Contrôle de la position des carrés */
.square-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; /* Prendre toute la hauteur du conteneur */
    width: 35%; /* Largeur du carré */
    padding: 10px; /* Ajoute de la marge intérieure */
    background-color: rgba(0, 0, 0, 0.5); /* Fond transparent foncé */
    display: flex; /* Flexbox pour aligner les éléments */
    flex-direction: column; /* Aligner le contenu verticalement */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    box-sizing: border-box; /* Évite que le padding provoque des dépassements */
  }
  
  .square-left {
    position: absolute;
    top: 0;
    left: 0; /* Le carré est à gauche */
    height: 100%; /* Prendre toute la hauteur */
    width: 30%; /* Largeur du carré */
    padding: 10px; /* Ajoute de la marge intérieure */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column; /* Aligner le contenu verticalement */
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Évite que le padding provoque des dépassements */
  }

  /* Style de base pour le h3 */
.square-left h3, 
.square-right h3 {
  transition: all 0.3s ease; /* Transition pour un effet fluide */
}

/* Effet de hover: changement de couleur */
.square-left h3:hover, 
.square-right h3:hover {
  text-decoration: underline; /* Ajoute un soulignement */
}

  
  /* Contrôle de l'image */
  .imgBloc {
    position: relative; /* Permet le positionnement absolu */
    height: 20vh; /* Hauteur du conteneur */
    width: 100%; /* Largeur complète */
  }
  
  .mangaImg {
    height: 100%; /* L'image prend toute la hauteur du conteneur */
    width: 100%; /* L'image prend toute la largeur */
    object-fit: cover; /* Pour s'assurer que l'image couvre tout le conteneur */
  }
  
  
  .starRating {
    font-size: 50px; /* Taille des étoiles */
    display: flex; /* Pour aligner les étoiles horizontalement */
  }
  
  .starRating span {
    /* Crée un dégradé radial avec le centre doré et les branches rouge-orange */
    background: radial-gradient(circle at 50% 55%, gold 10%, #dd5d42 40%, transparent 100%);
    -webkit-background-clip: text; /* Applique le dégradé au texte */
    color: transparent; /* Le texte doit être transparent pour voir le dégradé */
    font-weight: bold; /* Pour rendre les étoiles plus visibles */
    margin-right: 5px; /* Ajoute de l'espace entre les étoiles */
  }
  
