@import "../../../scss/base/reset";
@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";


.cguContainer{
    margin: 3vh;
}

.cguContainer p{
    font-size: $font-size-text;
    margin-bottom: 1vh;
}

.cguContainer h2{
    @include h2
}

.cguContainer h3{
    margin-bottom: 1vh;
}