@import "./typography";
@import "../abstracts/variables";


* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
}


body{
    background-color: $netflix-black;
    color: $caramel;
}

body a{
    text-decoration: none;
    color: $caramel;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}