.loginForm textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.loginForm input:hover {
    background-color: #334768;
    color: #FFD38C;
}

.loginForm textarea:hover {
    background-color: #334768;
    color: #FFD38C;
}