@import "../../scss/base/reset";
@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/mixins";
@import "../../scss/layout/header";


.headerAdmin {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #FFD38C;
    margin: 6px 0;
    transition: 0.4s;
  }
  
.ulNavAdmin {
    background-color: #334768;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

.liLogoAdmin {
    margin-right: auto;
    height: 15vh;
    width: 15vh;
}
  
  .logoAdmin {
    height: 100%;
    width: 100%;
  }
  
  .liNavAdmin {
    margin-right: 3%;
  }
  
  .liNavAdmin a {
    text-decoration: none;
    color: #FFD38C;
  }
  
  @media only screen and (max-width: 768px) {
  .menu-icon {
    display: flex;
    background-color: #334768;
  }

  .ulNavAdmin {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: #334768;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;

    &.open {
      max-height: 300px;
    }
  }

  .liNavAdmin {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .liLogoAdmin {
    margin-right: auto; // Le logo reste à droite, il ne bouge pas
  }
}

  
  