.starRating {
  font-size: 50px; /* Taille des étoiles */
  display: flex; /* Pour aligner les étoiles horizontalement */
}

.starRating span {
  font-weight: bold; /* Pour rendre les étoiles plus visibles */
  margin-right: 5px; /* Ajoute de l'espace entre les étoiles */
}

.full-star {
  background: radial-gradient(circle at 50% 55%, gold 10%, #dd5d42 40%, transparent 100%);
  -webkit-background-clip: text;
  color: transparent; /* Le texte doit être transparent pour voir le dégradé */
}

.half-star {
  position: relative;
  color: transparent;
  background: none;
}

.half-star::before {
  content: '★';
  background: radial-gradient(circle at 50% 55%, gold 10%, #dd5d42 40%, transparent 100%);
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  width: 50%; /* Largeur de la demi-étoile */
  overflow: hidden;
  left: 0;
  top: 0;
}

@media screen and (max-width: 690px) {
  .starRating {
    font-size: 40px; 
  }
}

@media screen and (max-width: 550px) {
  .starRating {
    font-size: 30px; 
  }
}

@media screen and (max-width: 375px) {
  .starRating {
    font-size: 25px; 
  }
}

@media screen and (max-width: 320px) {
  .starRating {
    font-size: 20px; 
  }
}
