@import "../abstracts/variables";

@mixin homePage-h3-rectangle {
    position: absolute;
    top: 0;
    height: 100%; /* Prendre toute la hauteur du conteneur */
    width: 35%; /* Largeur du carré */
    background-color: rgba(0, 0, 0, 0.753); /* Fond transparent foncé */
    display: flex; /* Flexbox pour aligner les éléments */
    flex-direction: column; /* Aligner le contenu verticalement */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    box-sizing: border-box; /* Évite que le padding provoque des dépassements */
}

@mixin hover-nav{
    content: '';
    position: absolute; // pour que l'animation se déroule sous le texte
    bottom: -2px; // ajuste la position de l'underline
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    background: $caramel;
    transition: width .3s;
}

@mixin h2{
    background-color: #dd5d42;
    padding-top: 5vh; 
    padding-bottom: 5vh; 
    text-align: center;
    font-size: $font-size-title;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@mixin hoverUnderline{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Ajustez cette valeur selon l'espacement souhaité sous le texte */
    width: 100%;
    height: 5px; /* Épaisseur de la ligne */
    background-color: $medium-vermillon; /* Couleur de la ligne */
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.5s ease; /* Transition pour l'animation du soulignement */
}

@mixin button{
    width: 200px; /* Largeur minimale */
    white-space: nowrap; /* Empêche le retour à la ligne */
    padding: 20px 40px;
    color: $caramel;
    background: $medium-vermillon;
    border: $border-slide-caramel;
    border-radius: $border-radius-20;
    text-align: center;
    margin: 0 10px;
    font-size: 17px;
    cursor: pointer;
}

@mixin button-hover{
    color: $caramel;
    background: $light-medium-vermillon;
    border: $border-slide-caramel;
}

@mixin square-hover{
    .square-left .starRating:hover,
    .square-right .starRating:hover {
        font-size: $hover-bigger-star;
    }

    .square-left h3:hover,
    .square-right h3:hover {
        font-size: $hover-bigger-h3;
    }
}