@mixin square-title {
    position: absolute;
    top: 0;
    height: 100%; /* Prendre toute la hauteur du conteneur */
    width: 35%; /* Largeur du carré */
    padding: 10px; /* Ajoute de la marge intérieure */
    background-color: rgba(0, 0, 0, 0.5); /* Fond transparent foncé */
    display: flex; /* Flexbox pour aligner les éléments */
    flex-direction: column; /* Aligner le contenu verticalement */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    box-sizing: border-box; /* Évite que le padding provoque des dépassements */
}

@mixin hover-nav{
    content: '';
    position: absolute; // pour que l'animation se déroule sous le texte
    bottom: -2px; // ajuste la position de l'underline
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    background: $caramel;
    transition: width .3s;
}

@mixin h2{
    background-color: #dd5d42;
    padding-top: 5vh; 
    padding-bottom: 5vh; 
    text-align: center;
    font-size: 30px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}