// Colors
$netflix-black: #141414;
$light-netflix-black: #3a3a3a;
$caramel: #FFD38C;
$medium-vermillon: #dd5d42;
$light-medium-vermillon: #ff774c;

//border
$border-radius-20: 20px;
$border-slide-caramel: 3px solid $caramel;
$border-slide-vermillon: 3px solid $medium-vermillon;

//police
$font-size-title: 50px; //h2
$font-size-subtitle: 30px; //h3
$font-size-text: 20px;
$font-size-form: 25px;

//hover
$hover-bigger-star: 60px;
$hover-bigger-h3: 40px;