// Colors

$netflix-black: #141414;
$caramel: #FFD38C;
$medium-vermillon: #dd5d42;

//border

$border-radius-20: 20px;
$border-slide-caramel: 3px solid $caramel;
$border-slide-vermillon: 3px solid $medium-vermillon;