@import "../../../scss/base/reset";
@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";


.foot {
    background-color: $netflix-black;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    color: #FFD38C;
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.logoFooter {
    height: 30vh;
    width: 30vh;
}

.ulFooter {
    display: flex;
    align-items: center;
    
}

.ulFooter a {
    text-decoration: none;
    color: $caramel;
}

.liFooter {
    margin-right: 2vw;
    margin-right: 5vw;
    font-size: $font-size-form
}


.logoSocialMedia {
    height: 8vh;
    width: 8vh;
}

.liCgu {
    margin-right: auto;
    font-size: $font-size-form;
    margin-left: 5vw;
}

.liYoutube{
    margin-right: auto;
}

.copyright{
    margin-top: 7vh;
    margin-bottom: 2vh;
    text-align: center;
}

.hover-foot {
    position: relative; // permet l'utilisation de ::after
}

.hover-foot::after {
    @include hover-nav
}

.hover-foot:hover::after {
    width: 100%;
}

